/* Tipografia */
body {      
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1d0023;
} 

/* Layout */
.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "main" 
        "footer footer footer";
    grid-template-columns: auto / 1fr;
    gap: 10px;
    padding: 10px;
    background: #1d0023;
    
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #efefef;
    padding: 10px;
}

.logo {
    font-size: 24px;
}

.register,
.login,
.search {
    font-size: 14px; 
    margin-right: 5px;
}

.main_tendencies,
.main_news,
.main_concluded {
    background: #333;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background: #333;
    color: #efefef;
    padding: 20px;
    text-align: center;
}

a.link {
    color: #efefef;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

.h {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #efefef;
    padding: 10px;
}


/* Container flexível para as imagens */
.image-flex {
    display: flex;
    gap:  10px; /* Espaçamento entre as imagens */
    padding:  10px;
    flex-flow: row wrap;
    flex-flow: nowrap;
    
}

/* Estilo das imagens */
.image-flex img {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

/* Efeito de hover nas imagens */
.image-flex img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    }

@media screen and (max-width: 480) {
    }
